<template>
  <div id="app">
    <navbar-component></navbar-component>
    <body-component></body-component>
    <footer-component></footer-component>
  </div>
</template>

<script>
import BodyComponent from "./bodycontent.vue";
import FooterComponent from "./footer.vue";
import NavbarComponent from "./navigation.vue";
export default {
  name: "app",
  components: {NavbarComponent, FooterComponent, BodyComponent},
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  }
};
</script>