<template>
    <div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mr-auto ml-auto mt-5">
                        <div class="card card-blog">
                            <div class="card-header card-header-image">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-container manual-flip" :class="{ 'hover': magic_flag == true}">
                                            <div class="card">
                                                <div class="front" :class="cardDesign">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-8 pt-4">
                                                                <img width="50" src="src/assets/img/kit/sim.png" alt="">
                                                            </div>
                                                            <div class="col-4 pt-4">
                                                                <img :src="'./src/assets/img/cards/'+cardDesign+'.png'" width="100">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h3 :class="[focuscard == true ? 'filledtext': 'emptytext']" class="text-white cardfont">{{stateCard}}</h3>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="row">
                                                            <div class="col-9">
                                                                <h4 :class="[focusname == true ? 'filledtext': 'emptytext']" class="text-white cardfont">{{defaltName}}</h4>
                                                            </div>
                                                            <div class="col-3">
                                                                <small>valid thru</small>
                                                                <h4 :class="[focusvalid == true ? 'filledtext': 'emptytext']" class="text-white cardfont spacer">{{validity}}</h4>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>

                                                <div class="back" :class="cardDesign">
                                                    <div class="container-fluid bg-dark mt-4">
                                                        <h2 class="bg-dark">&nbsp;</h2>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div style="height:48px;" class="ml-auto col-4 bg-white text-right rounded">
                                                                <h4>{{cvc}}</h4>
                                                            </div>
                                                            <div class="col-12 text-white text-center mt-3">
                                                                <img :src="'./src/assets/img/cards/'+cardDesign+'.png'" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-contact card-raised">
                                            <form @submit.prevent="submit" autocomplete="off" id="contact-form2">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                                <input id="cardnumber" class="form-control" type="tel" className="form-control" autocomplete="off" placeholder="Card Number" pattern="[\d| ]{16,22}" @focus="magic_flag = false, focuscard = true" @blur="focuscard = false" v-model="cardnumber" :maxlength="max" required/>
                                                                <small>E.g.: 41..., 51..., 36..., 37...</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                                <input placeholder="Name" @focus="magic_flag = false, focusname = true" v-model="name" @blur="focusname = false" required type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                                <input type="tel" className="form-control" placeholder="Valid Thru" pattern="\d\d/\d\d" @focus="magic_flag = false, focusvalid = true" @blur="focusvalid = false" required  :maxlength="5" v-model="validthru" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                                <input type="tel" name="cvc" className="form-control" placeholder="CVC" pattern="\d{3,4}" @focus="magic_flag = true" required :maxlength="4" v-model="cvc" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="card-footer justify-content-center">
                                                    <button type="submit" class="btn btn-rose pull-right">Pay</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-gray pricing-5 mt-5">
        <div class="row" v-if="showCardDetails == true">
            <div class="col-md-6 mr-auto ml-auto">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <h4>Issuer:</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">code</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Card number</h4>
                                <p>{{newCard.cardnumber}}</p>
                            </div>
                        </div>

                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Card owner</h4>
                                <p>{{newCard.name}}</p>
                            </div>
                        </div>

                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">timeline</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Expires on:</h4>
                                <p>{{newCard.validthru}}</p>
                            </div>
                        </div>

                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">code</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">CVC:</h4>
                                <p>{{newCard.cvc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    import Vue from 'vue'
    import Vuex from 'vuex'
    Vue.use(Vuex)
    import {getByType} from '../states/getters.js'
    import {allDataState} from '../states/states.js'
    export default {
        name:"BodyComponent",
        data (){
            return {
                cardnumber: null,
                name: null,
                validthru: null,
                cvc: null,
                twoNumbers: null,
                focusname: false,
                focuscard: false,
                focusvalid: false,
                magic_flag: false,
                showCardDetails: false,
            }
        },
        store :new Vuex.Store({
            state: allDataState,
            mutations: {
                updateCardNumber: function (state, data) {
                    state.cardtype = data;
                },
                updateName: function (state, data) {
                    state.typedName = data;
                },
                cardValidity: function (state, data) {
                    state.validity = data;
                },
                TypedCardNumber: function (state, data) {
                    state.cardNumber = data;
                },
                cardLength: function (state, data) {
                    state.max = data;
                },
                newCardDetails: function (state, data) {
                    state.newCardDetails = data;
                }
            },
            actions: {
                updateTypedName ({ commit }, payload) {
                    if (payload.name == "") {
                        commit('updateName', 'your name here')
                    }else{
                        commit('updateName', payload.name)
                    }
                },
                saveCardDetails ({ commit }, payload) {
                    commit('newCardDetails', payload)
                }
            },
            getters: {
                filteredByType: state => {
                    return getByType(state.cardsaccepted, state.cardtype)
                },
                dinersFormart: state => {
                    return (state.dinersFormart)
                }
            }
        }),
        computed: {
            cardDesign () {
                return this.$store.state.cardtype
            },
            defaltName () {
                return this.$store.state.typedName
            },
            validity () {
                return this.$store.state.validity
            },
            stateCard () {
                return this.$store.state.cardNumber
            },
            newCard () {
                return this.$store.state.newCardDetails
            },
            max () {
                return this.$store.state.max
            }
        },
        watch: {
            cardDesign: function(){
                return this.cardDesign;
            },
            name: function(){
                this.$store.dispatch('updateTypedName', {
                    name: this.name
                })
            },
            cardnumber: function() {
                if (this.cardnumber.length) {
                    this.twoNumbers = this.formatCVC(this.cardnumber, 2);
                    this.$store.commit('updateCardNumber', this.twoNumbers);
                    let cardClass = this.$store.getters.filteredByType;
                    
                    if (cardClass[0] === undefined || cardClass[0].length == 0) {
                        this.$store.commit('cardLength', 19);
                        this.$store.commit('TypedCardNumber', "•••• •••• •••• ••••");
                        this.$store.commit('updateCardNumber', 'defalt');
                        this.nornalCard();
                    }else{
                        if (cardClass[0].class == "diners") {
                            this.$store.commit('TypedCardNumber', this.$store.getters.dinersFormart);
                            this.$store.commit('cardLength', 16);
                            this.dinersCard()
                        }else{
                            this.$store.commit('cardLength', 19);
                            this.$store.commit('TypedCardNumber', "•••• •••• •••• ••••");
                            this.nornalCard();
                        }
                        this.$store.commit('updateCardNumber', cardClass[0].class);
                    }
                }else{
                    this.$store.commit('updateCardNumber', 'defalt');
                    this.$store.commit('TypedCardNumber', "•••• •••• •••• ••••");
                }
            },
            validthru: function() {
                let array = this.clearNumber(this.validthru);
                let nextValue;
                switch (this.validthru.length) {
                    case 1:
                        nextValue = array+'•/••';
                        break;
                    case 2:
                        nextValue = array+'/••';
                        break;
                    case 3:
                        nextValue = array.slice(0, 2)+'/'+array.slice(2, 3)+'•';
                        break;
                    case 4:
                        nextValue = array.slice(0, 2)+'/'+array.slice(2, 4)+'•';
                        break;
                    case 5:
                        nextValue = array.slice(0, 2)+'/'+array.slice(2, 5);
                        break;
                    default:
                        nextValue = '••/••'
                        break;
                }
                this.$store.commit('cardValidity', nextValue);
                this.validthru = this.formatExpirationDate(this.validthru);
            },
            cvc: function() {
                this.cvc = this.formatCVC(this.cvc, 4);
            }
        },
        methods: {
            submit () {
                this.showCardDetails = true
                this.$store.dispatch('saveCardDetails', {
                    cardnumber: this.cardnumber,
                    name:       this.name,
                    validthru:  this.validthru,
                    cvc:        this.cvc,
                })
                .then(() => {
                    this.cardnumber = ""
                    this.name = ""
                    this.validthru = ""
                    this.cvc = ""
                })
            },
            nornalCard(){
                let array = this.clearNumber(this.cardnumber);
                let nextValue;
                switch (array.length) {
                    case 1:
                        nextValue = array+'••• •••• •••• ••••';
                        break;
                    case 2:
                        nextValue = array+'•• •••• •••• ••••';
                        break;
                    case 3:
                        nextValue = array+'• •••• •••• ••••';
                        break;
                    case 4:
                        nextValue = array+' •••• •••• ••••';
                        this.cardnumber = this.first(array);
                        break;
                    case 5:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 5)+'••• •••• ••••';
                        this.cardnumber = this.four(array);
                        break;
                    case 6:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 6)+'•• •••• ••••';
                        this.cardnumber = this.four(array);
                        break;
                    case 7:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 7)+'• •••• ••••';
                        this.cardnumber = this.four(array);
                        break;
                    case 8:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' •••• ••••';
                        this.cardnumber = this.four(array);
                        break;
                    case 9:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 9)+'••• ••••';
                        this.cardnumber = this.nine(array);
                        break;
                    case 10:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 10)+'•• ••••';
                        this.cardnumber = this.nine(array);
                        break;
                    case 11:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 11)+'• ••••';
                        this.cardnumber = this.nine(array);
                        break;
                    case 12:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 12)+' ••••';
                        this.cardnumber = this.nine(array);
                        break;
                    case 13:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 12)+' '+array.slice(12, 13)+'•••';
                        this.cardnumber = this.thirteen(array);
                        break;
                    case 14:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 12)+' '+array.slice(12, 14)+'••';
                        this.cardnumber = this.thirteen(array);
                        break;
                    case 15:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 12)+' '+array.slice(12, 15)+'•';
                        this.cardnumber = this.thirteen(array);
                        break;
                    case 16:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 12)+' '+array.slice(12, 16);
                        this.cardnumber = this.thirteen(array);
                        break;
                    case 17:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 12)+' '+array.slice(12, 16)+' '+array.slice(16, 17)+'••';
                        this.cardnumber = this.thirteen(array);
                        break;
                    case 18:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 12)+' '+array.slice(12, 16)+' '+array.slice(16, 18)+'•';
                        this.cardnumber = this.thirteen(array);
                        break;
                    case 19:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 8)+' '+array.slice(8, 12)+' '+array.slice(12, 16)+' '+array.slice(16, 19);
                        this.cardnumber = this.thirteen(array);
                        break;
                    default:
                        nextValue = '•••• •••• •••• ••••'
                        break;
                }
                this.$store.commit('TypedCardNumber', nextValue);
            },
            dinersCard(){
                let array = this.clearNumber(this.cardnumber);
                let nextValue;
                switch (array.length) {
                    case 1:
                        nextValue = array+'••• •••••• ••••';
                        break;
                    case 2:
                        nextValue = array+'•• •••••• ••••';
                        break;
                    case 3:
                        nextValue = array+'• •••••• ••••';
                        break;
                    case 4:
                        nextValue = array+' •••••• ••••';
                        this.cardnumber = this.firstDiner(array);
                        break;
                    case 5:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 10)+'••••• ••••';
                        this.cardnumber = this.sixDiner(array);
                        break;
                    case 6:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 10)+'•••• ••••';
                        this.cardnumber = this.sixDiner(array);
                        break;
                    case 7:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 10)+'••• ••••';
                        this.cardnumber = this.sixDiner(array);
                        break;
                    case 8:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 10)+'•• ••••';
                        this.cardnumber = this.sixDiner(array);
                        break;
                    case 9:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 10)+'• ••••';
                        this.cardnumber = this.sixDiner(array);
                        break;
                    case 10:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 10)+' ••••';
                        this.cardnumber = this.sixDiner(array);
                        break;
                    case 11:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 10)+' '+array.slice(10, 14)+'•••';
                        this.cardnumber = this.fourDiner(array);
                        break;
                    case 12:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 10)+' '+array.slice(10, 14)+'••';
                        this.cardnumber = this.fourDiner(array);
                        break;
                    case 13:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 10)+' '+array.slice(10, 14)+'•';
                        this.cardnumber = this.fourDiner(array);
                        break;
                    case 14:
                        nextValue = array.slice(0, 4)+' '+array.slice(4, 10)+' '+array.slice(10, 14);
                        this.cardnumber = this.fourDiner(array);
                        break;
                    default:
                        nextValue = '•••• •••••• ••••'
                        break;
                }
                this.$store.commit('TypedCardNumber', nextValue);
            },
            first(array){
                return `${array.slice(0, 4)}`;
            },
            four(array){
                return `${array.slice(0, 4)} ${array.slice(4,8,)}`;
            },
            nine(array){
                return `${array.slice(0, 4)} ${array.slice(4,8,)} ${array.slice(8, 12)}`
            },
            thirteen(array){
                return `${array.slice(0, 4)} ${array.slice(4,8,)} ${array.slice(8, 12)} ${array.slice(12, 19)}`
            },
            firstDiner(array){
                return `${array.slice(0, 4)}`;
            },
            sixDiner(array){
                return `${array.slice(0, 4)} ${array.slice(4,10,)}`;
            },
            fourDiner(array){
                return `${array.slice(0, 4)} ${array.slice(4,10,)} ${array.slice(10, 14)}`
            },
            clearNumber(value = '') {
                return value.replace(/\D+/g, '');
            },
            formatExpirationDate(value) {
                const clearValue = this.clearNumber(value);
                if (clearValue.length >= 3) {
                    return `${clearValue.slice(0, 2)}/${clearValue.slice(2, 4)}`;
                }
                return clearValue;
            },
            formatCVC(value, chacount) {
                const clearValue = this.clearNumber(value);
                return clearValue.slice(0, chacount);
            },
            rotateCard(btn){
                var $card = $(btn).closest('.card-container');
                if($card.hasClass('hover')){
                    $card.removeClass('hover');
                } else {
                    $card.addClass('hover');
                }
            }
        }
    }
</script>
<style lang="scss">
    .card .card-header.card-header-image .colored-shadow{
        opacity: 0 !important;
    }
    .card-container{
        margin-bottom: 0px;
    }
    .card{
        margin-top: 0px;
    }
    .info {
        max-width: 460px;
        margin: 0 auto;
        padding: 10px 0 10px;
    }
    .profile-page .description{
        margin: 0.071rem auto 0;
    }
</style>
